.ql-snow {
  .ql-picker {
    &.ql-size {
      .ql-picker-label,
      .ql-picker-item {
        &::before {
          content: attr(data-value) !important;
        }
      }
    }
  }
}

.ql-custom-hr {
  &::before {
    content: attr(value) !important;
  }
}

.dotted-hr {
  border-top: 1px dotted black;
  margin: 10px 0;
}
